body {
    width: 100%;
    margin: 0;  
    font-family: 'Source Sans Pro';
}

.title {
    background-color: white;
    font-weight: bold;
}
.page-end {
 background-color: black;
 margin: 0;
 border-bottom: 4px solid yellow;
}

.page-bookend-bottom {
    border-bottom: none;
    color: white;
    font-size: 20px;
    margin: 0;
}
.button {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
font-weight: bold;
color: black;
    display: block;
    text-align: center;
    padding: 12px;
    background: #C6C6C6;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    border-radius: 5px;

}


.home-link {
    width: 640px;
    display: inline-block;
    font-size: 40px;
}

.page-nav {
   padding: 20px;
   max-width: 1280px;
   margin: auto;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
.page-nav-link:hover {
    color: yellow;
}
.page-nav-link {
    color: white;
    text-decoration: none; 
}



.page-nav-active {
    color:yellow;
    width: 50%;
}

.page-nav-link:after {
    content: "";
    margin: 0 15px;
}

.page-nav-link:last-child:after {
    content: "";
    margin: 0;
}



.titleline {
    background-color: #C6C6C6;
    border: 0;
}
.strong {
    font-weight: bolder;
}
.titleline-words {
    font-style: italic;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #AAA;
    font-family: 'Merriweather';
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}


del {
    color: #999;
}

ins {
    text-decoration-color: yellow;
}


p {
    line-height: 30px;
}

.midpage {
   background-image: url(http://fewdmaterials.github.io/developer_matchmaker/images/coworking.jpg);
    margin-top: 0px;
padding-top: 60px;
text-align: center;
background-attachment: relative;
background-position: center center;
min-height: 480px;
width: 100%;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;

}



.sections {
    background-color: white;
    max-width: 1280px;
    margin: auto;
    padding: 2% 0;
    border: 0;
    font-size: 100%;
    font: inherit;
   display: block;
   overflow: hidden;
}
.box p {
    font-size: 20px;
    vertical-align: baseline;
    text-align: left;    
}
.box {
    float: right;
    background: rgba(255,255,255,.7);
    width: 30%;
    margin: 0 auto;
    margin-right: 30px;
    padding: 4%;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    font-size: 100%;
}
   
.box h1 {
    font-weight: bold;
    text-align: left;
    font-size: 35px;
}

.options {
    background: white;
    font-size: 20px;
    float: left;
    width: 27.3333%;
    padding: 2% 3%;
    box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
    font-stretch: 100%;
    font-family: "Source Sans Pro";
   
}

.midpage a {
    background: yellow;
}
    





